body {
	height: 120vh;
	margin: 0;
	background: black;
background: url(https://pm1.narvii.com/6603/e622b7f59a8a430e272f6233df15abaedbcc7c9b_hq.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}








.container{
	height: 600px;
	max-height: 700px;
	background: #696969;
	width: 100%;
	max-width: 1000px;
	margin-left: 420px;
}





.intro
{
	margin-top: 20px;
	opacity: 95%;
	position: relative;
	font-family: 'New Rocker', cursive;
	margin-left: 420px;
	height: 50vh;
	background: url(https://cdn.iz.ru/sites/default/files/styles/900x506/public/photo_item-2019-11/3_1_0.jpg?itok=5D6Uy7m9) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 1000px;



}






.header {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}




.header__logo {
	margin-right: 10px;
	font-family: 'New Rocker', cursive;
	font-size: 45px;
	font-weight: 700;
	color: #8B0000;
}

.header__logo:hover {
	font-size: 60px
}

.header__inner {

	width: 1000px;
	margin-right: 30px;
	padding-top: 20px;
	margin-left: 60px;
	display: flex;
	justify-content: space-between;
}



hr {
	background: #FFE4B5;
	height: 4px;
	transition: color .2s linear
}





.nav {
	margin-right: 100px;
	font-family: 'New Rocker', cursive;
	font-size: 34px;
    text-transform: uppercase;
}



.nav__link {
	margin: 25px;
	color: #FFE4B5;
	text-decoration: none;

	transition: color .2s linear
}


.nav__link:hover {
	color: #8B0000;
}



footer {
	bottom: -420px;
	position: relative;
 }

 p {
 	font-size: 18px;
 	color: #FFE4B5;
 	margin: 0;
 	color: #8B0000;
 	font-family: 'New Rocker', cursive; 

 }


.line {
	height: 2px;
	width: 1000px;
}